venv/
venv1/
.venv/
env/

__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/

logs/
logs/
*.log

.ipynb_checkpoints/

.env
.env.*

.vscode/
.idea/

.DS_Store

.pytest_cache/
.coverage
htmlcov/
.tox/

.mypy_cache/
.pyre/
.pytype/

catboost_info/

artifacts/

logs/

.ipynb_checkpoints/

__pycache__/
*.pyc